services:
  postgres:
    image: postgres:15
    container_name: iceberg_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: iceberg_catalog
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spark-net


  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_NO_DAEMONIZE=1
    ports:
      - "8080:8080"
      - "7077:7077"
      - "4040:4040"
    volumes:
      - ./spark-conf:/opt/spark/conf
      - ./jars:/opt/spark/jars-extra
      - ./data:/opt/spark/data
    command: /opt/spark/sbin/start-master.sh -h spark-master
    networks:
      - spark-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3

  spark-worker-1:
    image: apache/spark:3.5.0
    container_name: spark-worker-1
    environment:
      - SPARK_NO_DAEMONIZE=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      spark-master:
        condition: service_healthy
    volumes:
      - ./spark-conf:/opt/spark/conf
      - ./jars:/opt/spark/jars-extra
      - ./data:/opt/spark/data
    command: /opt/spark/sbin/start-worker.sh spark://spark-master:7077
    networks:
      - spark-net

  spark-worker-2:
    image: apache/spark:3.5.0
    container_name: spark-worker-2
    environment:
      - SPARK_NO_DAEMONIZE=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      spark-master:
        condition: service_healthy
    volumes:
      - ./spark-conf:/opt/spark/conf
      - ./jars:/opt/spark/jars-extra
      - ./data:/opt/spark/data
    command: /opt/spark/sbin/start-worker.sh spark://spark-master:7077
    networks:
      - spark-net

    
  spark-worker-3:
    image: apache/spark:3.5.0
    container_name: spark-worker-3
    environment:
      - SPARK_NO_DAEMONIZE=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
    depends_on:
      spark-master:
        condition: service_healthy
    volumes:
      - ./spark-conf:/opt/spark/conf
      - ./jars:/opt/spark/jars-extra
      - ./data:/opt/spark/data
    command: /opt/spark/sbin/start-worker.sh spark://spark-master:7077
    networks:
      - spark-net



volumes:
  postgres_data:

networks:
  spark-net:
    driver: bridge